<!DOCTYPE html>
<html style="background-image: url({{background}});">

<head>
    <meta charset="utf-8">
    <title>{{manifest.name}} - Stremio Addon</title>
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,100italic,200italic,300italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="shortcut icon" href="{{logo}}" type="image/x-icon">
</head>

<body>
    {{{body}}}
</body>

</html>