body,
html {
   margin: 0px;
   padding: 0px;
   font-family: Lato, 'Open Sans', OpenSans, arial, sans-serif;
   font-weight: 300;
   color: white;
   cursor: default;
   width: 100%;
   height: 100%
}

html {
   background-size: auto 100%;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat
}

body {
   background: rgba(0, 0, 0, 0.65)
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 300
}

#addon {
   width: 400px;
   position: absolute;
   left: 0px;
   right: 0px;
   top: 10%;
   bottom: auto;
   margin: auto
}

a {
   color: white
}

a.activate-link {
   text-decoration: none
}

button {
   border: 0px;
   outline: 0px;
   color: white;
   background: rgba(125, 79, 158, 0.85);
   padding: 13px 22px;
   text-align: center;
   font-size: 17px;
   font-weight: 300;
   cursor: pointer;
   opacity: 0.9;
   display: block
}

button:hover {
   opacity: 1
}

.logo {
   max-width: 300px;
   float: left;
   margin: 20px
}

.icon {
   float: left;
   width: 60px;
   height: 40px;
   margin: 20px;
   background-color: #eaeaea;
   -webkit-mask-repeat: no-repeat;
   -moz-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-position: center;
   -moz-mask-position: center;
   mask-position: center;
   -webkit-mask-size: contain;
   -moz-mask-size: contain;
   mask-size: contain
}

.name {
   float: left
}

.version {
   float: right
}

.provides,
.gives,
.description {
   clear: both
}

.best {
   margin-bottom: 30px
}

.best img {
   width: 60px
}